* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}
header {
  background-color: #1C2B66;
}
main {
  background-color: red;
}
footer {
  background-color: aqua;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
.nav-list {
  min-height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none; 
  transition: .3s;
}
.nav-link {
  color: azure;
  text-decoration: none;
  padding: 0 15px;
  line-height: 80px;


}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}